/* Console02 general styling
 */

.console02-header-title { 
        display:inline-block;   /* IE needs this display type to draw borders */
        font-size:14pt; font-weight:bold;
        padding:3px;
        border-top:2px green solid;
        border-bottom:2px green solid;
}

.console02-header-link {
        font-size:10pt;
        color:green;
        text-decoration:none;
}

.console02-body {
        margin:10px;
}



/* Console02TabSet styling
 */

.console02-tabset-frame {
  --ts-bgcolor: #b8b8b8; 
}

.console02-tabset-tabs {
        margin-left:20px;
}

.console02-tabset-tab {
        display:inline-block;
        white-space:nowrap;
        padding: 0px 15px;
        font-size:12pt;
        border-radius: 8px 8px 0px 0px;
        border:1px solid var(--ts-bgcolor);
}
.console02-tabset-tab-current {
        background-color:var(--ts-bgcolor);
        color:white;
}

.console02-tabset-tab-link {
        color:#444;
}
 
.console02-tabset-tab-ghost {
        color:#bbb;
}

.console02-tabset-controlarea {
        background-color:var(--ts-bgcolor);
        border-radius: 15px 15px 0px 0px;
}

.console02-tabset-contentarea {
        border:1px solid var(--ts-bgcolor);
        border-radius: 0px 0px 15px 15px;
}


/* ConsoleEditList
 */
.seededit-form { 
    width:100%;display:none;margin-top:5px;padding-top:10px;border-top:1px dashed #888;
}
.seededit-form-msg .alert {       /* format the alert inside the form-msg to override bootstrap */
    font-size:10pt;margin-bottom:5px;padding:3px 10px;display:inline-block;
}

