/*****
    SEEDUI_BoxExpand makes a box whose body opens and closes when you click on the header

    See SEEDUI_BoxExpandInit() in SEEDUI.js

    <div class='boxexpand'>
        <div class='boxexpand_head'></div>
        <div class='boxexpand_body'></div>
    </div>
*/

.seedui_boxexpand {}
.seedui_boxexpand_body {
        display: none
}
.seedui_boxexpand_expand-button {
        position: relative;
        float: left;
        height: 14px;
        width: 14px;
        overflow: hidden;
}
.seedui_boxexpand_expand-button img {
        position: absolute;
        left: 0;   /* js shifts this image right-left to alternate the symbol */
}
.seedui_boxexpand_expand-instruction {
        font-size:9pt;
        float:left;
        margin-left:5px;
}

