# Seeds of Diversity donation receipt
#
# ExpandTmpl('donation_receipt_page', 
#            ['donorName'=>
#             'donorAddr'=>
#             'donorReceiptNum'=>
#             'donorDateReceived'=>
#             'donorDateIssued'=>    today's date
#             'donorAmount'=>        string formatted with cents but no dollar sign
#             'taxYear'=>            help the donor to know which year the receipt applies to - same as substr(donorDateReceived,0,4)
#            ])

%% donation_receipt_page2
{% extends 'donrectmpl_page2' %}

{% block donrecblock_donorNameAddress %}
<div style='font-size:12pt'>
{{ donorName | raw }}<br/>
{{ donorAddr | raw }}
</div>
{% endblock %}


{% block donrecblock_receiptData %}
<table style='width:100%;border:0;margin:0;padding:0'>
<tr>
<td valign='top' style='font-size:11pt'>For tax year / L'ann&eacute;e<br/>Amount / Montant</span></td>
<td valign='top' style='font-size:11pt;text-align:right'>{{taxYear}}<br/>${{donorAmount}}</td>
</tr>
<tr>
<td valign='top' style='font-size:9pt'>
<br/>
Receipt # / No. de re&ccedil;u<br/>
Date&nbsp;received&nbsp;/&nbsp;R&eacute;ception<br/>
Issued / D&eacute;livr&eacute;, Waterloo ON<br/>
# put purpose at the bottom in case it line wraps
{% if donorPurpose|trim is not empty %} Purpose / But<br/> {% endif %}
</td>
<td valign='top' style='text-align:right'>
<br/>
{{donorReceiptNum}}<br/>
{{donorDateReceived}}<br/>
{{donorDateIssued}}<br/>
{% if donorPurpose|trim is not empty %} {{donorPurpose}}<br/> {% endif %}
</td>
</tr></table>
{% endblock %}


{% block donrecblock_sodNameAddress %}
<table style='width:100%;border:0;margin:0;padding:0'><tr>
<td valign='top'>
Seeds of Diversity Canada<br/>
Semences du patrimoine Canada<br/>
12 Dupont St W, Unit 1<br/>
Waterloo, ON N2L 2X6<br/>
</td><td style='padding-left:5em' valign='top'>
<br/>
office@seeds.ca<br/>
bureau@semences.ca<br/>
226-600-7782 (voicemail)
</td></tr></table>
{% endblock %}


{% block donrecblock_signature %}
#
# signature
#
# make a block with a space, a line, and the name/title, then position the signature aesthetically across the line
<div style='position:relative;height:.7in;margin-top:0.1in'>
<img src='https://seeds.ca/d/?n=img/bob_signature_full_white.png' style='width:1.25in;padding-left:0.25in'/>
<div style='position:absolute;bottom:0;left:0'>
<hr/>
Bob Wildfong<br/>
Executive Director / Directeur ex&eacute;cutif
</div>
</div>
{% endblock %}


{% block donrecblock_receiptBlock %}
<table style='border:0;margin:0;padding:0;width:100%'><tr>
<td style='width:4.5in' valign='top'>
<div style='position:relative;height:2.0in'>
{{ block('donrecblock_donorNameAddress') }}
<div style='position:absolute;bottom:0;left:0'>
{{ block('donrecblock_sodNameAddress') }}
</div>
</div>
</td>
# receiptData block extends past the right margin to allow Waterloo ON to push the margin if the date is long
<td valign='top'>
{{ block('donrecblock_receiptData') }}<br/>
{{ block('donrecblock_signature') }}
</td> 
</tr>
<tr>
<td colspan='2'>
<div style='margin-top:15px'>
Charitable registration number / Num&eacute;ro d'enregistrement de charit&eacute; : 89650 8157 RR0001<br/>
Canada Revenue Agency - www.canada.ca/charities-giving<br/>Agence du revenu du Canada - www.canada.ca/organismes-bienfaisance-dons
</div>
</td>
</tr></table>
# <div style='position:absolute;top:0in;left:0.75in;right:4.5in'>{{ block('donrecblock_donorNameAddress') }}</div>
# <div style='position:absolute;top:0in;left:5.5in;right:0.10in'>{{ block('donrecblock_receiptData') }}</div>

# <div style='position:absolute;top:1.75in;left:0.75in;right:4.5in'>{{ block('donrecblock_sodNameAddress') }}</div>
# <div style='position:absolute;top:1.75in;left:5.5in;right:0.75in'>{{ block('donrecblock_signature') }}</div>
{% endblock %}


%% donrectmpl_page2
<style>
# set dompdf page margins to 0, establish a bounding box of 8.5x11 inches, and employ margins explicitly.
# Except when you make a length of 11in dompdf makes a second page. So use a bounding box of 8.5x10.5  
@page { margin: 0px; }
body { margin: 0px; }
.donReceipt_page { width:8.5in; height:10.5in;padding:0; 
                   position:relative; 
                   font-size:9pt; font-family:helvetica,sans serif }
td { font-size:9pt; font-family:helvetica,sans serif }
div {border:1px solid white;}   /* change this colour to see where the blocks are */
</style>
<div class='donReceipt_page'>
#
# logo and title
#
<div style='text-align:center;margin:0.5in auto 0 auto;'>
<img src='https://seeds.ca/i/img/logo/logoA_b-bi-1200x.png' style='width:3in'/>
</div>
<div style='text-align:center;margin:.125in auto; font-size:12pt'>
OFFICIAL RECEIPT FOR INCOME TAX PURPOSES<br/>RE&Ccedil;U OFFICIEL POUR FIN DE L'IMPOT SUR LE REVENU
</div>
#
# first (official) receipt
# envelope window printing starts 2.245in from top of the page
#
#<div style='position:absolute; top:2.245in;left:0.75in;right:0.5in'>{{ block('donrecblock_receiptBlock') }}</div>
<div style='position:absolute; top:2.0in;left:0.75in;right:0.5in'>{{ block('donrecblock_receiptBlock') }}</div>
#
# second (duplicate) receipt
#
<div style='position:absolute; top:5.3in;left:0.75in;right:0.75in; text-align:center;margin:.125in auto; font-size:12pt'>
<hr style='border:1px solid #777'/>
DUPLICATE RECEIPT - Please keep this portion for your records.<br/>REPRODUCTION DU RE&Ccedil;U - Gardez cette portion pour votre rapport.
</div>
<div style='position:absolute; top:6.2in;left:0.75in;right:0.5in'>{{ block('donrecblock_receiptBlock') }}</div>

#
# thank you
#
# bottom at 0 because page is 8.5x10.5 to prevent second page from being generated
<div style='position:absolute;bottom:0;left:0.75in;right:0.75in;border:1px solid #ccc'>
  <table style='width:100%'><tr>
  <td valign='top' width='50%'>
  Thank you very much for your donation to Seeds of Diversity and its projects. Your donation will enable us to do our part to ensure 
  that our horticultural heritage will survive for future generations. <br/><br/>  Happy Gardening!
  </td><td>
  Nous vous remercions sinc&egrave;rement pour votre contribution au Programme semencier du patrimoine et ses projets. Votre don nous aidera &agrave; 
  faire notre part pour sauvegarder notre h&eacute;ritage horticole pour le b&eacute;n&eacute;fice de nos futures g&eacute;n&eacute;rations.
  <br/><br/>  Bon jardinage!
  </td></tr></table>
</div>

</div>
