# Seeds of Diversity Member Seed Directory templates

%% msdMain
<style>
    /* msd-head is positioned at the top, full width, zorder above msd-main.
     * msd-main is positioned at 100px from the top, full width, zorder beneath msd-main.
     * This clips msd-main when it scrolls up.
     * All other fixed-position elements have to be positioned the same way wrt top:, but they don't have scrolling issues.
     */

    .msd-head {
        position:fixed;
        background:white;
        left:0; right:0;
        top:0;
        width:100%;
        height:100px;
        z-index:3;
        text-align:center;
        /* max-height:100px  only necessary if the height were being varied according to width */
    }

    .msd-main {
        position:relative; 
        background:white;
        left:0; right:0; 
        top:100px;
        width:100%;
        margin: 0px 10px;
        z-index:2;
        /* padding:10px; */
    }

    .msd-list-col             { }
    .msd-list                 { background-color: #eee; position:fixed; top:100px; }  /*border-right:0px solid #aaa; */
    .msd-list-category        { border-bottom:1px solid #ddd; margin-bottom:5px; }
    .msd-list-category-title  { font-weight:bold }
    .msd-list-species-group   { margin-left:10px; display:none; font-size:12px; }

    .msd-body                 { }
    .msd-body-title           { font-size: 30px; }  // 30px is the same as bootstrap h2
    .msd-body-varieties       { margin-left: 20px; }

    .msd-basket-col           { }
    .msd-basket-col-fixed     { position:fixed; top:100px; }   /* a fixed box in the right column */

    .msd-order-info           { background-color:#eee; width:100%; margin-bottom:40px; text-align:center; padding:15px;
                                border-bottom:1px solid #888; border-left:1px solid #888; border-right:1px solid #888;}


    /* put these in a shared template */
    .storeBox
        { margin-left:10px; border:1px solid #aaa; }
    .storeBoxBuyer
        { background-color: white; }
    .storeBoxHeader, .storeFormBlockHeader
        { padding:3px 10px; background-color:#999; color:white; font-size:16px; font-weight:bold; }
    .storeBasketContent
        { padding: 10px; text-align:center; font-size:9pt; }
    .storeBasketErrmsg
        { color:red; text-align:center; }

    .sed_seed_mc { float: right; }
</style>


<table class="msd-head" border='0'><tr>
<td valign='middle' width='25%'>
    <img src='http://office.seeds.ca/public/logos/img/logoA_h-en-300x.png' style='max-height:80px' class='img-responsive'/><br/>
    </td>
<td valign='middle'>
    <h3>Member Seed Directory 2017</h3>
    </td>
<td valign='middle' width='25%'>
    
    <form onsubmit="msdSearch(); return false;">
    <div class="form-horizontal" style='margin:0px 10px 0px 15%'>
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-3">Search</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="msdSearchVal" placeholder="Anything""/>
        </div>
    </div>
    </div>
    </form>
    </td>
</tr></table>


<div class='msd-main container-fluid'>
    <div class='row'>
        <div class='col-xs-3 col-sm-2 msd-list-col'>[[Var:msdList]]</div>
        <div class='col-xs-6 col-sm-7 msd-body'>
            <div class='msd-body-title'></div>
            <div class='msd-body-varieties'></div>
            <div style='width:100%;margin-top:20px;padding-top:5px;border-top:1px solid #bbb;text-align:center;font-size:8pt;'>Member Seed Directory 2017<br/>Powered by SeedLiving<br/><br/><a href='http://seeds.ca'>Seeds of Diversity Canada</a></div>
        </div>
        <div class='col-xs-3 col-sm-3 msd-basket-col'>
          <div class='msd-basket-col-fixed'>
            <div class='storeBox storeBoxBasket'>
                <div class='storeBoxHeader'>Your Basket</div>
                <div class='storeBasketErrmsg'></div>
                <div class='storeBasketContent'>[[Basket_Contents:]]</div>
            </div>
            <div class='storeBox storeBoxBuyer'>
                <div class='storeBoxHeader'>Your Address</div>
            </div>
          </div>
        </div>
    </div>
</div>


<script>
    var qUrl = "[[Var:qUrl]]";    // address of local app/q/basketJX.php

    $(document).ready( function() {
        /* When you click on a category title in the msd-list, the speciesgroup beneath it is toggled
         */
        $(".msd-list-category-title").click( function() {
            var eCat = $(this).closest(".msd-list-category");
            var eSpList = eCat.find(".msd-list-species-group");
            eSpList.toggle();

            msdResize();
        });
        $(".msd-list-species-group").hide();

        /* When you click on a species name in the msd-list, we highlight it and fetch the variety list.
         */
        $(".msd-list-species-title").click( function() {
            // highlight the species title (and reset any previous highlight)
            $(".msd-list-species-title").css({ color: "#333" } );   // bootstrap's default text color
            $(this).css({ color: "#373" } );

            // put the species name in the title box
            var sp = $(this).html();
            $(".msd-body-title").html( sp );

            // Fetch the variety list. 
            // The loading img is placed right into the varieties box, and the ajax function replaces it with the text. Or not, if .get fails.
            // The fadeIn() keeps the loading img from popping into view for a split second on fast fetches, 
            // but shows it for long fetches.
            $(".msd-body-varieties").html( "<img id='loading-img' style='display:none;margin-left:50px' src='http://seeds.ca/w/img/loading.gif' width='50' height='50'/>" );
            $('#loading-img').fadeIn(1500);
            getVarietyList( sp );
        });

        /* When you click on a variety description, it opens the associated msd-order-info.
         * This has to be done using .on() because the elements are dynamically added to the DOM.
         */
        $(document).on('click', '.sed_seed', function(){
            $(".msd-order-info").slideUp(500); // hide others

            var id = $(this).attr("id");
            var kP = id.substring(4);
            $(".msd-order-info-"+kP).slideDown(500);
        });

        msdResize();
    });


window.onresize = function(event) {
    msdResize();
}

function msdResize() {
    /* msd-list and msd-basket are position:fixed, so they are removed from the format flow. That means they don't automatically
     * respond to window resizes. Also, msd-list won't do the right thing re scroll bars with overflow-y:auto, because it doesn't know
     * how big its container is. Since it's fixed on the screen, msd-list has to have a scroll bar when it is taller than the window.
     */

    // msd-list: Set max-width-height based on its container size so it doesn't spill over, especially horizontally.
    //           If the list is longer than the available space give it a scroll bar. Nice to hide this if it is not necessary.
    var hw = $(window).height();
    var hd = $(".msd-list-col").height();
    var wd = $(".msd-list-col").width();
    var yd = $(".msd-list-col").offset().top;

    var maxw = wd;
    if( maxw < 0 ) maxw = 1;
    var maxh = (hw-yd-20);  // 20 just for visual padding at the bottom
    if( maxh < 0 ) maxh = 1;

    $(".msd-list").css({'max-height': maxh+"px", 'max-width': maxw+"px"});

    if( hd > hw - yd ) { 
        $(".msd-list").css({'overflow-y': "scroll"});
    } else {
        $(".msd-list").css({'overflow-y': "auto"});
    }

    // msd-basket-col: Set width the same as its container so it fits nicely.
    $(".msd-basket-col-fixed").width($(".msd-basket-col").width());
}


function msdSearch()
/*******************
    Someone submitted a search. If there's a useful value in the search text box, issue a search.
    This is very similar to getVarietyList because it just uses ajax to fetch a different variety list.
 */
{
    $(".msd-body-title").html( "Search Results" );
    $(".msd-list-species-title").css({ color: "#333" } );   // bootstrap's default text color
    $(".msd-body-varieties").html( "<img id='loading-img' style='display:none;margin-left:50px' src='http://seeds.ca/w/img/loading.gif' width='50' height='50'/>" );
    $('#loading-img').fadeIn(1500);

    var sSrch = $('#msdSearchVal').val();

    /* Fetch the variety list for the given search and write it into the variety block
     */
    $.get( qUrl+"?cmd=msdSearch", { srch : sSrch } )
        .done(function( data ) {
            var sVarList = "";

            if( data ) {
                var rq = ( window.JSON && window.JSON.parse && data ? window.JSON.parse(data) : eval(data) );
                if( rq['bOk'] ) {
                    sVarList = rq['sOut'];
                } else {
                    sVarList = "No results were found for this search.";
                }
            }
            $(".msd-body-varieties").html( sVarList );
        });
}

function msdShowSeedsFromGrower( kG )
{
    $(".msd-body-title").html( "Seeds offered by "+kG );
    $(".msd-list-species-title").css({ color: "#333" } );   // bootstrap's default text color
    $(".msd-body-varieties").html( "<img id='loading-img' style='display:none;margin-left:50px' src='http://seeds.ca/w/img/loading.gif' width='50' height='50'/>" );
    $('#loading-img').fadeIn(1500);

    /* Fetch the variety list for the given search and write it into the variety block
     */
    $.get( qUrl+"?cmd=msdSeedsFromGrower", { kG : kG } )
        .done(function( data ) {
            var sVarList = "";

            if( data ) {
                var rq = ( window.JSON && window.JSON.parse && data ? window.JSON.parse(data) : eval(data) );
                if( rq['bOk'] ) {
                    sVarList = rq['sOut'];
                } else {
                    sVarList = "No results were found for this search.";
                }
            }
            $(".msd-body-varieties").html( sVarList );
        });
}

function getVarietyList( sp )
{
    /* Fetch the variety list for the given species and write it into the variety block
     */
    $.get( qUrl+"?cmd=msdVarietyListFromSpecies", { sp : sp } )
        .done(function( data ) {
            var sVarList = "";

            if( data ) {
                var rq = ( window.JSON && window.JSON.parse && data ? window.JSON.parse(data) : eval(data) );
                if( rq['bOk'] ) {
                    sVarList = rq['sOut'];
                } else {
                    sVarList = "No varieties are available for this type";
                }
            }
            $(".msd-body-varieties").html( sVarList );
        });
}

// put this in a common place
function AddToBasket_Name( name )
{
    jQuery.ajax({ url: qUrl,
                  data: { cmd: "AddToBasket", sb_product: name },
                  success: function ( data, textStatus, jqXHR ) 
                           { var rQ = window.JSON.parse(data); 
                             var bOk = rQ['bOk'];
                             var sOut = rQ['sOut'];
                             if( bOk ) { 
                                 $('.storeBasketContent').html(sOut);
                                 $('.storeBasketErrmsg').html("");
                             } else {
                                 $('.storeBasketErrmsg').html(sOut);
                             }
                           },
                  error:   function ( jqXHR, textStatus, errorThrown ) { alert("Error "+errorThrown); }
                });
}
function RemoveFromBasket( kBP )
{
    jQuery.ajax({ url: qUrl,
                  data: { cmd: "RemoveFromBasket", kBP: kBP },
                  success: function ( data, textStatus, jqXHR ) 
                           { var rQ = window.JSON.parse(data); 
                             var bOk = rQ['bOk'];
                             var sOut = rQ['sOut'];
                             var sErr = rQ['sErr'];
                             if( bOk ) { 
                                 $('.storeBasketContent').html(sOut);
                                 $('.storeBasketErrmsg').html("");
                             } else {
                                 $('.storeBasketErrmsg').html(sErr);
                             }
                           },
                  error:   function ( jqXHR, textStatus, errorThrown ) { alert("Error "+errorThrown); }
                });
}



</script>

