# SeedUI-Box1  (Gray with white title)
#   Requires SEEDUI.css
#
%% SeedUI-Box1
<div class='seedui-box1'>
    <div class='seedui-box-head'>[[Var:sTitle]]</div>
    <div class='seedui-box-errmsg'></div>
    <div class='seedui-box-body'>[[Var:sContent]]</div>
</div>



# SeedUI-BoxExpand
#   Requires SEEDUI.js and SEEDUI.css
#   See SEEDUI_BoxExpand_Init() for details
#
%% SeedUI-Box1Expandable
<div class='seedui-box1 seedui-boxexpand'>
    <div class='seedui-box-head'>[[Var:sTitle]]</div>
    <div class='seedui-box-errmsg'></div>
    <div class='seedui-box-body'>[[Var:sContent]]</div>
</div>
