# Seeds of Diversity Store templates

%% storeMain
<style>
.storeBox
    { margin-left:10px; border:1px solid #aaa; }
.storeBoxBuyer
    { background-color: white; }
.storeBoxHeader, .storeFormBlockHeader
    { padding:3px 10px; background-color:#999; color:white; font-size:16px; font-weight:bold; }
.storeBasketContent
    { padding: 10px; text-align:center; font-size:9pt; }
.storeBasketErrmsg
    { color:red; text-align:center; }

.sb_basket-contents .sb_bp { color:green; }
.sb_basket-contents .sb_bp-change { background-color:#cec; }

.storeFormBlock
    {
    }
.storeFormBlockHeader
    { }
.storeFormBlockBody1
    { padding: 5px; }
.storeFormBlockBody2
    { padding: 0px 5px 5px 5px; }

.storeHelp
    { font-size:9pt;
    }
</style>
<script>
$(document).ready(function(){
    // if you click on a form-block header, the associated body2 gets toggled
    $('.storeFormBlockHeader').click( function() {
        e_block = $(this).closest('.storeFormBlock');
        if( typeof e_block == 'undefined' ) return;
        body2 = e_block.find('.storeFormBlockBody2');
        if( typeof body2 == 'undefined' )  return;

        body2.toggle();
    });
});


function AddToBasket_Name( name )
{
    jQuery.ajax({ url: "http://localhost/~bob/seeds.ca2/app/q/basketJX.php",
                  data: { cmd: "AddToBasket", name: name },
                  success: function ( data, textStatus, jqXHR ) 
                           { var rQ = window.JSON.parse(data); 
                             var bOk = rQ['bOk'];
                             var sOut = rQ['sOut'];
                             if( bOk ) { 
                                 $('.storeBasketContent').html(sOut);
                                 $('.storeBasketErrmsg').html("");
                             } else {
                                 $('.storeBasketErrmsg').html(sOut);
                             }
                           },
                  error:   function ( jqXHR, textStatus, errorThrown ) { alert("Error "+errorThrown); }
                });
}

function RemoveFromBasket( kBP )
{
    jQuery.ajax({ url: "http://localhost/~bob/seeds.ca2/app/q/basketJX.php",
                  data: { cmd: "RemoveFromBasket", kBP: kBP },
                  success: function ( data, textStatus, jqXHR ) 
                           { var rQ = window.JSON.parse(data); 
                             var bOk = rQ['bOk'];
                             var sOut = rQ['sOut'];
                             var sErr = rQ['sErr'];
                             if( bOk ) { 
                                 $('.storeBasketContent').html(sOut);
                                 $('.storeBasketErrmsg').html("");
                             } else {
                                 $('.storeBasketErrmsg').html(sErr);
                             }
                           },
                  error:   function ( jqXHR, textStatus, errorThrown ) { alert("Error "+errorThrown); }
                });
}

</script>


<div class='container-fluid'><div class='row'>
  <div class='col-sm-9'>
    [[Include:storeForm]]
  </div>
  <div class='col-sm-3'>
    <div class='storeBox storeBoxBasket'>
      <div class='storeBoxHeader'>Your Basket</div>
      <div class='storeBasketErrmsg'></div>
      <div class='storeBasketContent'>[[Basket_Contents:]]</div>
    </div>
    <div class='storeBox storeBoxBuyer'>
      <div class='storeBoxHeader'>Your Address</div>
    </div>
  </div>
</div></div>


%% storeForm
[[Include:storeFormBlockDonation]]
[[Include:storeFormBlockMembership]]
[[Include:storeFormBlockBooks]]

%% storeFormBlock
<div class='storeFormBlock'>
  <div class='storeFormBlockHeader'>{% block title %}{%endblock%}</div>
  <div class='storeFormBlockBody1'>{% block body1 %}{%endblock%}</div>
  <div class='storeFormBlockBody2'>{% block body2 %}{%endblock%}</div>
</div>


# ****** Donation

%% storeFormBlockDonation
{% extends 'storeFormBlock' %}
{% block title %}Make a Charitable Donation{% endblock %}
{% block body1 %}Donation form{% endblock %}
{% block body2 %}More donation form{% endblock %}


# ******  Membership

%% storeFormBlockMembership
{% extends 'storeFormBlock' %}
{% block title %}Membership{% endblock %}
{% block body1 %}
  <div class='storeHelp'>
    {% if lang!='FR' %}
      Please note that your membership fee only covers the cost of publications that you receive.
      If you would like to contribute to Seeds of Diversity's projects and administrative expenses,
      please consider adding a charitable donation.
    {% else %}
      Veuillez prendre note que le montant de l'adh&eacute;sion ne couvre que les frais reli&eacute;s aux publications que vous recevez. 
      Si vous souhaitez contribuer financi&egrave;rement &agrave; nos projets et &agrave; nos frais d'administration, nous vous 
      remercions de penser &agrave; faire un don.
    {% endif %}
  </div>
  <button style='font-size:8px' onclick="AddToBasket_Name('mbr1_35');">Add to basket</button>&nbsp;&nbsp;&nbsp;[[Basket_Purchase0:mbr1_35]] ($35)<br/>
  <button style='font-size:8px' onclick="AddToBasket_Name('mbr1_45sed');">Add to basket</button>&nbsp;&nbsp;&nbsp;[[Basket_Purchase0:mbr1_45sed]] ($45)<br/>
{% endblock %}


# ****** Books

%% storeFormBlockBooks
{% extends 'storeFormBlock' %}
{% block title %}Buy Some Books{% endblock %}
{% block body1 %}Book form{% endblock %}

